<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crop Yield Prediction</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <ul class="topnav">
        <li><a class="active" href="home.html">Home</a></li>
        <li><a href="base.html">Predict</a></li>
        <li><a href="#contact">Contact</a></li>
        <li class="right"><a href="#about">About</a></li>
      </ul>
    <header>
        <h1>Crop Yield Prediction</h1>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
