<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crop Yield Prediction</title>
    <link rel="stylesheet" href="/static/contact.css">
</head>
<body>
    <div class="header-predict" style="background-image: url('{{ url_for('static', filename='Images/pexels-stephanthem-753869.jpg') }}');">
    
    
    <ul class="topnav">
        <li class="agroyield">AgroYield</li>
        <li><a class="active" href="{{ url_for('main.home') }}">Home</a></li>
        <li><a href="{{ url_for('main.index') }}">Predict</a></li>
        <li><a href="{{ url_for('main.resources') }}">Resources</a></li>
        <li><a href="{{ url_for('main.contact') }}">Contact</a></li>
      </ul>
    <header>
        <h1 class="crop-yield">Crop Yield Prediction</h1>
    </header>
    </div>
    
    <footer class="footer">
        <div class="footer_content">
            <div class="footer_logo">
                <h1>AgroYield</h1>
                <p>
                    Our platform is dedicated to helping farmers and agricultural professionals thrive by providing access to valuable resources and expert advice.
                </p>
            </div>
            <div class="footer_links">
                <div class="footer_column">
                    <h3>Navigate</h3>
                    <ul>
                        <li><a href="{{ url_for('main.home') }}">Home</a></li>
                        
                        <li><a href="{{ url_for('main.index') }}">Predict</a></li>
                        <li><a href="{{ url_for('main.resources') }}">Resources</a></li>
                    </ul>
                </div>
                <div class="footer_column">
                    <h3>Contact Us</h3>
                    <ul>
                        <li><a href="#">agroyield@example.com</a></li>
                        <li><a href="#">00000 00000</a></li>
                        <li>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer_bottom">
            <p>© 2024 AgroYield</p>
            <div>
                <a href="#">Terms & Conditions</a>
                <a href="#">Privacy Policy</a> 
                <a href="#">Sitemap</a>
            </div>
        </div>
    </footer>
</body>
</html>
